/*--------------------------Global positioning--------------------------*/

/*
Global variables start at line 30. Then further modifications for different parts of the browser.
Spreadsheet of what every ultima-variable does: https://github.com/soulhotel/FF-ULTIMA/blob/main/doc/spreadsheet-all-ultima-variables.md
*/

/*--user preference setting for XS size tabs--*/
@media (-moz-bool-pref: "ultima.tabs.xs") { @media not (-moz-bool-pref: "ultima.tabs.s") { @media not (-moz-bool-pref: "ultima.tabs.l") {
    :root:not([customizing],[chromehidden~="menubar"]){
        --uc-vertical-tabs-width: 41px;
        --uc-vertical-tabs-width-revert: 41px;
    }
}}}
/*--user preference setting for S size tabs--*/
@media (-moz-bool-pref: "ultima.tabs.s") { @media not (-moz-bool-pref: "ultima.tabs.xs") { @media not (-moz-bool-pref: "ultima.tabs.l") {
    :root:not([customizing],[chromehidden~="menubar"]){
        --uc-vertical-tabs-width: 165px;
        --uc-vertical-tabs-width-revert: 165px;
    }
}}}
/*--user preference setting for L size tabs--*/
@media (-moz-bool-pref: "ultima.tabs.l") { @media not (-moz-bool-pref: "ultima.tabs.xs") { @media not (-moz-bool-pref: "ultima.tabs.s") {
    :root:not([customizing],[chromehidden~="menubar"]){
        --uc-vertical-tabs-width: 250px;
        --uc-vertical-tabs-width-revert: 250px;
    }
}}}

/*---------------Global variables for quick modifications-------------*/

:root:not([customizing],[chromehidden~="menubar"]){
    --uc-navbar-height: 40px;
    --uc-collapsed-tabs-width: 41px;
} /*--DO NOT GO LOWER THAN 41PX--*/

:root[uidensity="compact"]:not([customizing],[chromehidden~="menubar"]) {
    --uc-navbar-height: 34px;
}

:root, body, * {

    /*bookmarkbar height*/
    --uc-bookbar-height: 8px;
    /*calculate tab height based on nav bar*/
    /*then adjust for bookmark being active*/
    --uc-tabbar-height:
    calc(100vh - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom));
    --uc-tabbar-height-adjust:
    calc(100vh - var(--uc-bookbar-height) - var(--uc-navbar-height) - var(--uc-margin-top) - var(--uc-margin-bottom) - 6px);

    /*rounded corners*/
    --uc-all-border-radius: 20px;
    --tab-border-radius: 15px;
    --uc-button-border: 4px;

    /* ^ > v < (space the windows from each other) */
    /*tabs get there own margins*/
    --uc-all-margins: 0px 6px 6px 12px; 
    --uc-margin-inline: 6px; /* < > */
    --uc-margin-top:0px;     
    --uc-margin-bottom:6px;      
    --uc-tab-margins: 6px 0px 7px 10px;
    --uc-sb-margin-leftside: 0px 3px 7px 6px;
    --uc-sb-margin-rightside: 0px 6px 7px 0px;
    --uc-tab-padding: 2px;
    --uc-main-window-padding: 0px 6px 3px 3px;

    /*individual tabs*/
    --tab-min-height: 35px;
    --tab-min-width: initial !important; /*dont touch*/
    --tab-overflow-pinned-tabs-width: initial !important; /*dont touch*/
    --inline-tab-padding: 10px;
    --tab-block-margin: 2px;
}

/*---------------Browser - Side bar---------------*/

/*--quick hack, bigger sidebar, 50vw = 50% of the screen width--*/
/*--great for view-tab-in-sidebar extensions--*/
#sidebar-box {
    max-width: 50vw !important;
} 
#sidebar-box {
    min-width: 40px !important;
    width: 36vw;
    padding: 0px 0px 0px 10px;
}   /*defaults*/

/*--default left side--<--*/
#sidebar-box {
    border-radius: var(--uc-all-border-radius);
    margin: var(--uc-sb-margin-leftside) !important;
}
/*--right side-->--*/
#sidebar-box[positionend="true"]{
    margin: var(--uc-sb-margin-rightside) !important;}

#sidebar-header {
    border-top-left-radius: var(--uc-all-border-radius) !important;
    border-top-right-radius: var(--uc-all-border-radius) !important;
}
/*--sidebar content--*/
#sidebar {
    border-bottom-left-radius: var(--uc-all-border-radius) !important;
    border-bottom-right-radius: var(--uc-all-border-radius) !important;
}

/*remove ugly border*/
/*but keep the splitter accessible, it resizes the sidebar*/
#sidebar-box[positionend] + .sidebar-splitter{
    border: 2px rgba(0,0,0,0) solid !important;
    border-inline-width: 0px !important;
    margin-inline: -2px !important;
    border-inline-end-width: 0px !important;
}

.sidebar-splitter {
    width: 2px !important;}

/*---------------Browser - Browser content---------------*/

/*browser is the container, browser stack is the content*/

#browser, #appcontent, #tabbrowser-tabbox,
#tabbrowser-tabpanels, .browserSidebarContainer, .browserStack{
    border-radius: var(--uc-all-border-radius) !important;
}

.browserContainer {
    border-radius: var(--uc-all-border-radius) !important;}

#main-window
#tabbrowser-tabpanels { browser[type] {
    border-radius: var(--uc-all-border-radius) !important;
    margin: var(--uc-all-margins) !important;
    outline: 20px solid var(--toolbar-bgcolor);
    padding: var(--uc-main-window-padding);
}}

#main-window[lwtheme="true"]
#tabbrowser-tabpanels { browser[type] {
    outline: 4px solid var(--lwt-accent-color);
}}

/*--------------bookmarks bar---------------*/

/* smaller bookmarks bar */

#PersonalToolbar{
    max-height: var(--uc-bookbar-height) !important;
    padding-bottom: 2px !important;
}

#personal-toolbar-empty-description, #personal-toolbar-empty-description .text-link, a {
    cursor: auto !important; opacity: 0 !important;}

/*-------------------menu bar--------------------*/

/*--quick styling--*/

#menubar-items {
    background: var(--uc-ultima-background-ii) !important;
    border-radius: 5px !important;
    justify-content: center !important;
}

#toolbar-menubar:not([inactive="true"]) #main-menubar > menu { &[_moz-menuactive] {
    background-color: var(--uc-selected) !important;
    color: inherit;
    border-radius: 5px !important;
}}

/*--positioning when active--*/

#toolbar-menubar[autohide="false"] {
    position: fixed;
    left: calc(50vw - 150px);
    top: var(--uc-navbar-height);
    height:23px !important;
}

#toolbar-menubar:not([inactive="true"]) #main-menubar > menu { &[_moz-menuactive] {
    background-color: var(--uc-selected) !important;
    color: inherit;
    border-radius: 5px !important;
}}

/*--positioning when pressing alt--*/

#toolbar-menubar[autohide="true"]:not([inactive="true"]) {
    position: fixed;
    left: calc(50vw - 150px);
    top: var(--uc-navbar-height);
    height:23px !important;
}

/*-------------------nav bar--------------------*/

/*--centering buttons vertically--*/

#nav-bar toolbarbutton {
    margin-top: 1px !important;
}

/* remove the border that comes with this script */
#nav-bar {
  border-top: 0px !important;
}

/* re-position the items on the searchbar due to no close/zoom/escape button */
#navigator-toolbox {
  margin: 6px -80px 0px 0px;
}
/*-------------------finish--------------------*/
